[2017-05-11 11:29] dimbleby opened #33 "yang parser fails if model augments its own nodes"
with the following stack:

[code]

We're trying to find the model that's being augmented, but it's the current model and so the data structure isn't yet ready.

I've worked around this by commenting out [this line](https://github.com/open-switch/opx-cps/blob/554c317ccbef3890acfb2d5fb9b0474517f7ed8d/scripts/lib/yang_tools/py/yin_cps.py#L165), and instead calling

[code]

from [here](https://github.

[2017-05-11 11:35] dimbleby opened #34 "yang parser fails to disambiguate nodes"
[These lines](https://github.com/open-switch/opx-cps/blob/554c317ccbef3890acfb2d5fb9b0474517f7ed8d/scripts/lib/yang_tools/py/yin_cps.py#L360-L363) can result in two different nodes having the same `n_path`, causing me much confusion.

I hit this on a model where a node contains both `config true;` and `container config { ... }`

As in #33, I may not be able to share the model on which I discovered

[2017-05-11 14:57] c-wichmann commented on #33
Thanks very much,  If you could provide just an example that would be perfect.  No need to provide the original model.

[2017-05-15 14:14] dimbleby commented on #33
This should do it:

[code]

[2017-05-17 11:58] dimbleby opened #35 "parser barfs on enums with large values"
I have a model containing an enum like this:

[code]

But the parser doesn't like it:

[code]

... per [this line](https://github.com/open-switch/opx-cps/blob/554c317ccbef3890acfb2d5fb9b0474517f7ed8d/scripts/lib/yang_tools/py/object_history.py#L31).

So far as I can see the large value is valid: RFC6020 9.6.4.2 says:

Can the parser be persuaded to tolerate a wider range of values?

[2017-05-17 14:10] dimbleby opened #36 "yang parser generates conflicting typedefs"
The model below results in a header file with conflicting definitions for EXAMPLE_FOO_t:

* a typedef corresponding to the input typedef
* an enum corresponding to the list definition

(Of course I hit this on a real model, this is just a reduced testcase).

[code]

Compiling the output gives this error:

[code]

[2017-05-17 14:24] dimbleby commented on #36
The above might be an over-simplification of the original problem as I'm not quite certain that it is valid to have the duplicate `foo`s above.

Here's an example closer to my original model that produces the same problem by generating duplicate `foo-bar`s:

[code]

[2017-05-21 03:39] c-wichmann commented on #36
Hmm.. yes.. the list "bar" and the typedef will conflict - in the C header.  Should be able to resolve this in the next update.

[2017-05-21 03:43] c-wichmann commented on #34
Thanks - that description was fine.  Can patch it.  Would you mind waiting another week (will be in the latest update) or do you need it earlier?

[2017-05-21 03:45] c-wichmann commented on #35
Will patch it in the next update.  If you need it earlier, let me know.

[2017-05-21 08:22] dimbleby commented on #34
No need to hurry on my account!

[2017-06-04 01:05] c-wichmann commented on #33
Ok, that is fine.  The other items are resolved and should be pushed soon - and we will have this resolved at the same time.

[2017-06-05 06:56] c-wichmann commented on #35
This is resolved internally - separated the enum processing from the derived objects and fixed up some of the history logic at the same time.

[2017-06-05 06:57] c-wichmann commented on #34
The config node and config false have been handled along with ignoring quite a few useless nodes.  This will go into the next merge.

[2017-06-05 06:59] c-wichmann commented on #33
A few tweaks had to be made for this one since the  keys within the augment were being searched for at the time of the augment processing so we could track it easier when it comes to writing out the actual data.

[2017-12-06 06:03] c-wichmann commented on #36
The update was made and you should find that the case you mention is resolved.

[2017-12-06 06:04] c-wichmann commented on #35
Code was synced and this issue is now resolved.

[2017-12-14 00:10] #35 closed

[2017-12-14 00:10] #36 closed

[2018-01-22 10:40] dimbleby opened #40 "Loopback interface configuration is not reported"
If I query `dell-base-if-cmn/if/interfaces/interface`, loopback interfaces are not reported.

Loopback interfaces are reported at `dell-base-if-cmn/if/interfaces-state/interface`, though so far as I can see there's no way of identifying them as such.  (Edit - now reported at #41)

Therefore to find loopback interfaces I have no better method than:
* query both of the above
* look for interfaces th

[2018-01-22 10:41] dimbleby opened #41 "CPS does not report all fields from YANG models"
Of particular interest to us right now are

* `dell-base-if-cmn/if/interfaces-state/interface/type` (cf #40)
* `dell-base-if-cmn/if/interfaces/interface/description` (less important but would be nice to have)

[2018-01-22 10:42] dimbleby opened #42 "Interface state is reported in duplicate"
When I query `dell-base-if-cmn/if/interfaces-state/interface`, I see all interfaces reported twice.

[2018-01-22 16:27] dimbleby opened #43 "when querying interface state by name, only ethernet-csmacd interfaces are returned"
If I query interface-state for a loopback interface, I get nothing:

[code]

... even though this interface definitely exists:

[code]

(duplication is per #42).

By-name queries work as expected for ethernet-csmacd interfaces:

[code]

[2018-01-22 16:45] dimbleby opened #44 "configuration of base-ip/ipv4 is flakey at best"
If I attempt to set configuration at `base-ip/ipv4` then:

* the transaction always appears to fail
* sometimes the change I'm making sticks anyway

Eg:

[code]

Note that `cps_set_oid.py` did *not* report success as it does when transactions succeed, although the configuration *was* apparently successfully applied.

Attempting to set other fields (eg `enabled`) fails altogether - which is better,

[2018-01-22 18:40] jeff-yin commented on #41
Yeah, that's the first thing we're going to investigate. Lots of updates to CPS between version 2.1.0 and version 2.2.0.

If these issues are still seen in 2.2 then we're going to need to devise and roll out some fixes.

[2018-01-22 19:41] GarrickHe commented on #41
Hello @dimbleby,

I'll look into this and keep you posted.

Thanks,
Garrick

[2018-01-22 19:46] GarrickHe commented on #40
Hello @dimbleby ,
Since this issue is related to #41 I'll take a look at this one as well.

Thanks,
Garrick

[2018-01-22 20:59] atanu-mandal commented on #43
Get handler for loopback specific interface is yet to be implemented.

[2018-01-23 10:10] dimbleby commented on #43
Well that'll explain why it doesn't work!

Did you mean that this is:

* "yet to be implemented... and therefore this issue is not interesting", or
* "yet to be implemented... but we really ought to do it sooner rather than later"?

Obviously I'm hoping for something nearer the second case!

[2018-01-24 10:26] dimbleby opened #45 "Can't delete loopback interface"
Here's an attempt to delete a loopback interface:

[code]

As you can see, it just isn't deleted.

I see this in syslog at the time, which I suppose is a clue:

[code]

I imagine that this is related to #40 and #43?

[2018-01-24 22:50] Tejaswi-Goel commented on #44
The issues are fixed in OPX 2.2.0 .

[2018-01-24 23:09] jeff-yin commented on #44
As Tejaswi said, this particular issue should be resolved with the upcoming 2.2.0 release of OPX

[2018-01-24 23:09] #44 closed

[2018-01-25 00:06] GarrickHe commented on #45
Hello @dimbleby,

I'll look into this issue. Will keep you updated.

Thanks,
Garrick

[2018-01-25 08:51] GarrickHe commented on #41
Hello @dimbleby,
Those two fields are also not reported on 2.2.0. I'm assuming you use 'observed' as your qualifier. I'll do some more digging to find out why it's not reported (I don't see a reason why it shouldn't, but maybe there is). If there is no reason why, I'll add that in as the output for the query. Will keep you posted.

[2018-01-25 18:38] Tejaswi-Goel commented on #42
Hello,

I'll look into this and keep you posted.

-Tejaswi

[2018-01-25 23:49] atanu-mandal commented on #43
This is being fixed and should be addressed with #41

[2018-01-26 10:22] james-jra opened #46 "L3ipvlan support"
Are L3ipvlan type interfaces currently supported?

I have been unable to create interfaces of this type:
* I modified the vlan configuration script in the opx-nas-interface repository (https://github.com/open-switch/opx-nas-interface/blob/master/scripts/bin/cps_config_vlan.py) to use l3ipvlan type interfaces instead of l2vlan.
* This caused the transaction to fail and no interface to come up.
* I

[2018-01-26 10:25] james-jra opened #47 "CPS does not report interface type for VLAN interfaces"
Similar to #41 , but I think it's specific to VLAN interfaces

Missing field is `dell-base-if-cmn/if/interfaces/interface/type`

However, interestingly, I can query interface configuration by type, and the VLAN interface is returned correctly, but still missing the type field:

[code]
Note: the same query by type for interface state does not return anything, but this may be a separate issue, relat

[2018-01-26 10:36] james-jra opened #48 "VLAN interface state oper-status and admin-status always "down""
Regardless of the bridge interface state reported in `ip link`, CPS always reports the VLAN bridge interface as down.
* `if/interfaces-state/interface/oper-status = 1`
* `if/interfaces-state/interface/admin-status = 1`

More detailed trace follows:
[code]

[2018-01-26 14:28] mcallisterjp opened #49 "CPS doesn't store interface description"
`if/interfaces/interface/description` is in `ietf-interface.yang` and imported unchanged by the interfaces `dell-base-if` model, but the description field doesn't appear to be stored or returned by CPS:
[code]

[2018-01-26 15:33] atanu-mandal commented on #46
ianaift:l3vlan type is not yet supported during vlan creation.

[2018-01-26 15:35] james-jra commented on #46
Do you plan to support it in the near future?

[2018-01-26 15:47] mcallisterjp commented on #49
Actually, looks like this is a dupe of #41. Sorry about that.

[2018-01-26 16:06] atanu-mandal commented on #41
For the "description" attribute, a textual description of the interface should be available (which is optional) so that it can print the output.

[2018-01-26 16:33] atanu-mandal commented on #47
The code path is bit different for vlan interface. We will add the "type" attribute.

[2018-01-27 02:12] atanu-mandal commented on #46
“ianaift:l3vlan” is not honored, when you configure IP address to the vlan interface it becomes l3 interface.

We are planning to cleanup  l3vlan option from below yang file which causes the confusion.
https://github.com/open-switch/opx-base-model/blob/master/yang-models/dell-interface.yang

[2018-01-30 11:03] james-jra opened #50 "Support for VLAN Sub-interface"
I saw you added VLAN sub-interfaces to the [dell-base-interface-common.yang](https://github.com/open-switch/opx-base-model/blob/master/yang-models/dell-base-interface-common.yang) model.

However they don't seem to be accessible at all via CPS.
They are currently a requirement for our ability to configure tagged sub-ports on VLANs.
Am I doing something wrong, or are they unsupported for querying a

[2018-01-31 00:16] atanu-mandal commented on #50
The VLAN sub interface type(i.e. vlanSubInterface) is not handled in current OPX 2.2.0 code base and the functionality is being developed in-house (would be part of later OPX main release).

Given that, we should be able to handle the requirement to add/query tagged interfaces to a VLAN.

Configuring tagged ports through Linux utilities
-----------------------------------------------------
root@OP

[2018-01-31 01:12] atanu-mandal commented on #45
We need to fix the python utility script to pass the type as loopback for delete operation.

We can use following command to delete this.
e.g.
cps_set_oid.py -qua target -oper action dell-base-if-cmn/set-interface dell-base-if-cmn/set-interface/input/operation=2 if/interfaces/interface/name=lo4
if/interfaces/interface/type=ianaift:softwareLoopback

[2018-01-31 01:13] atanu-mandal commented on #45
Please try the above utility to delete the loopback interface and let me know if you see any issues.

[2018-01-31 06:23] atanu-mandal commented on #40
This is fixed, the change will be sent out for code review shortly.

[2018-01-31 06:24] atanu-mandal commented on #41
Quick update --this is fixed, the change will be sent out for code review shortly.

[2018-01-31 06:24] atanu-mandal commented on #42
Quick update --this is fixed, the change will be sent out for code review shortly.

[2018-01-31 06:25] atanu-mandal commented on #43
Quick update --#41 is fixed, the change will be sent out for code review shortly.

[2018-01-31 06:26] atanu-mandal commented on #46
Closing this based on above comments.

[2018-01-31 06:29] atanu-mandal commented on #47
Quick update --this is fixed, the change will be sent out for code review shortly.

[2018-01-31 06:29] atanu-mandal commented on #48
We will check and get back on this.

[2018-01-31 08:49] james-jra commented on #50
Ah, so you don't need to create a VLAN subinterface before assigning it as a tagged port - it's explicitly created when you add the interface as a tagged port on the VLAN.
We just don't have control of the VLAN subinterface itself via CPS, but will at some future point.

I understand, that's very helpful,

thank you.
James

[2018-01-31 12:59] dimbleby commented on #45
Yes, that does the trick - thanks!

[2018-01-31 13:15] dimbleby opened #51 "'Key Error: 0' in cps_utils.printable()"
I create a new interface via CPS, and call `cps_utils.printable()` on the changes reported back to me, something like this:

[code]

But I get this error:

[code]

Logging show that the content of `changes` is as follows - I don't know which is the problematic value:

[code]

We did not see this failure on the OPX 2.1 VM, but are seeing it on the 2.2 VM.

[2018-01-31 13:51] dimbleby commented on #51
I did a little debugging - the problematic value seems to be the empty string:

[code]

which, presumably, should be converted into ... an empty string?

[2018-01-31 14:38] james-jra opened #52 "Content of vlan interfaces state"
I'm attempting to get state information for VLAN interfaces.
The following fields from dell-if-vlan.yang are absent when querying `dell-base-if-cmn/if/interfaces-state/interface`:
* `dell-if/if/interfaces/interface/untagged-ports`
* `dell-if/if/interfaces/interface/tagged-ports`
* `base-if-vlan/if/interfaces/interface/id`
* `dell-if/if/interfaces/interface/vlan-type`

It would certainly be useful

[2018-02-01 06:17] atanu-mandal commented on #51
Can you please elaborate bit more what you are trying ...from VM (running 2.2.0.0-dev2) it works if I run below
root@OPX:~# cps_get_oid.py target/base-if-phy/physical

============1.17.1114163.1114115.1114116.==========
base-if-phy/physical/phy-mode = 1
base-if-phy/physical/npu-id = 0
base-if-phy/physical/hardware-port-list = 1,2,3,4
base-if-phy/physical/hardware-port-id = 1
base-if-phy/physical/s

[2018-02-01 06:22] atanu-mandal commented on #41
As mentioned above "description" is optional, so not treated as priority item.

[2018-02-01 06:25] atanu-mandal commented on #45
Great. I am closing this issue since we have the solution.

[2018-02-01 06:30] atanu-mandal commented on #50
Sure James. Thanks. I am going to close this issue.

[2018-02-01 08:28] dimbleby commented on #51
We are writing our own applications using your python APIs.  In this case I deleted and then re-created an interface (e101-020-0, say) - and on creation the 'changes' were per my initial report.

From there it's very easy to reproduce the bug:

[code]

[2018-02-01 19:00] jeff-yin commented on #42
Here's the review request:
https://review.openswitch.net/#/c/14496/

[2018-02-01 22:50] #50 closed

[2018-02-01 22:52] #45 closed

[2018-02-01 22:52] #46 closed

[2018-02-02 06:59] atanu-mandal commented on #51
I have tried deleting and recreating the interface (i.e. e101-002-0) and everything seems to be working fine. Please refer the log below. I have executed this on a VM running 2.2.0-dev2. You may want to double check if anything is missing in your application.

root@OPX:~# **ifconfig e101-002-0**
e101-002-0 Link encap:Ethernet  HWaddr 00:50:56:94:53:3e
          BROADCAST MULTICAST  MTU:1500  Metri

[2018-02-02 08:01] dimbleby commented on #51
Hi,

I am not sure what is different on your system, but I certainly get the `'change'` response per my bug report!

Did you try executing the code fragment in my previous comment?  Do we agree that if CPS does return the object that I saw it return, then `cps_utils.printable()` will fall over?

Either way, I do not expect that this should be difficult to fix...  Somewhere in `cps_utils.printable(

[2018-02-02 08:24] dimbleby commented on #51
PS when I run the exact commands that you suggest on a fresh OPX2.2 VM I see that they succeeds the first time, but that on a subsequent attempt the transaction fails.

Would you like a new issue for this?

[2018-02-02 18:18] atanu-mandal commented on #51
If there is an issue with utility function e.g. cps_utils.printable() we would definitely fix that, but  I guess that is not blocking for your application, please check cps_utils.print_obj() and use of this in different repos. Hope that would suffice your requirement.

For other failure, go ahead and open a new issue.

[2018-02-03 00:31] dimbleby opened #53 "Can only delete and create an interface once - opx-nas service crashes and does not restart"
As discussed in #51.  Here's a session on a 2.2 VM:

[code]

Notice that the third command - the second attempt to delete the interface - does not succeed.

[2018-02-03 00:32] dimbleby commented on #51
Super!  That's exactly what this issue covers.  I'm not sure how this was unclear, but my apologies if it was so.

I am afraid this does not help.   We don't actually want to print the object, we simply want to convert it into a sensible data structure so as to update our own internal state.  (If there's a better way to do that than `cps_utils.printable()`, we'd be glad to hear about it).

No prob

[2018-02-03 02:24] atanu-mandal commented on #53
I am curious to understand the use case of this kind of operations. Can you explain little bit on where it can be applied to. Thanks.

[2018-02-03 10:11] dimbleby commented on #53
This isn't something that I'd expect to be a common operation - it's just a failure that arose during our testing.

[2018-02-03 10:18] dimbleby commented on #53
It seems that this sequence of commands causes the `opx-nas` service to crash:

[code]

I guess that does make it relatively serious - even though it would be an unusual thing to do, the result is quite severe.

[2018-02-03 19:11] atanu-mandal commented on #53
We are root causing the behaviour.

[2018-02-03 19:19] atanu-mandal commented on #53
It seems there is no such use case attached to this opearation for your application. It was observed during a stress testing, thanks for sharing the result though. We will follow up on this.

[2018-02-06 10:41] james-jra opened #54 "Intended use of negotiation/auto-negotiation"
I'm writing application logic to allow a user to configure auto-negotiation on an interface.
I am confused about the usage of the two following fields (from [dell-interface.yang](https://github.com/open-switch/opx-base-model/blob/master/yang-models/dell-interface.yang)):
*  `dell-if/if/interfaces/interface/auto-negotiation`
* `dell-if/if/interfaces/interface/negotiation`

**Questions**
What's the

[2018-02-06 15:39] james-jra opened #55 "Configuring an interface's duplex mode to "Auto" actually sets it to "Full"."
In CPS you expose 3 options for interface duplex mode:
* Full
* Half
* Auto

Configuration works as expected for Full and Half, but not for Auto.
Setting duplex = Auto actually results in duplex = Full.

**Trace:**
[code]

**Cause:**
See https://github.com/open-switch/opx-nas-ndi/blob/master/src/nas_ndi_port.c#L1016

Basically, NAS does not honour the Auto option. It always sets duplex = Full inst

[2018-02-06 22:59] atanu-mandal commented on #51
Please incorporate the following changes in /usr/lib/opx/cps_utils.py on the target. This should resolve the issue with cps_utils.printable(). Note this would have "None" in case of empty bitearray.

With below change the output should look similar
==
{'operation': 'action', 'data': {'base-if-phy/if/interfaces/interface/npu-id': '0', 'dell-if/if/interfaces/interface/duplex': '3', 'dell-if/if/inter

[2018-02-07 04:42] atanu-mandal commented on #55
You are right. We will check if/how we can handle this. As you had mentioned the code says TBD
/* TODO in case of AUTO set it to FULL: TBD */

[2018-02-07 04:54] atanu-mandal commented on #54
When auto-negotiation gets enabled the interface auto negotiates both speed and duplex. In other cases speed/duplex/speed & duplex are fixed. Please let me know if it clarifies.

[2018-02-07 11:10] peterbrittain commented on #52
As per our call yesterday, here's a quick summary of where we're currently looking for data across various interface types.

[code]

If you could confirm which model you plan to use (duplicating key data in state, or having a clear split of config and state with no duplication) and fix up any inconsistencies, we can code to either approach.

[2018-02-07 14:17] james-jra commented on #54
I've looked at this in more detail. I believe the behaviour described above is incorrect.
I think the behaviour is:
* set `negotiation = on` -> `auto-negotiation = 1`
* set `negotiation = off` -> `auto-negotiation = 0`
* set `negotiation = auto` -> no change to `auto-negotiation`

So I plan to directly set `dell-if/if/interfaces/interface/auto-negotiation` instead of using `dell-if/if/interfaces/i

[2018-02-07 14:52] mcallisterjp opened #56 "Can't perform "set" operation on ACL object"
ACLs in the `base-acl/table` YANG list don't seem to be configurable after they have been created:
[code]

I have noticed the same behaviour using the CPS python API, with the syslog message: `Feb  7 14:44:17 opx_vm opx_nas_daemon[585]: [ACL:NAS-ACL], Operation 3 NOT allowed on Obj`. Is this intended behaviour? If so, is it documented anywhere? Do configuration operations have to be two-stage crea

[2018-02-07 14:54] mcallisterjp opened #57 "Problem with ACL names"
Configuring a name on an ACL object (the `base-acl/table/name` leaf) appears not to work:
[code]

Presumably the `0 = test` line in the create output is relevant for understanding why!

Can also reproduce with CPS python API.

[2018-02-07 15:57] james-jra opened #58 "supported-speed not present for interfaces on OPX VM"
On the OPX Virtual Machine, `supported-speed` is not returned for interfaces.
How can I determine which values for speed can be used for interfaces on virtual machines?

**Trace (hardware)**
OPX 2.2.0-dev2 on Dell Z9100 - supported-speed is included:
[code]

**Trace (VM)**
On OPX 2.2.0-dev2 VM - no supported-speed:
[code]

On OPX 2.1.0 VM - no supported-speed:
[code]

[2018-02-07 17:10] james-jra opened #59 "configured speed only shown when interface is oper-up"
When I configure the speed of an interface (`dell-if/if/interfaces/interface/speed`), the transaction succeeds and returns the changed value.
But when I then query the target configuration, it always returns 0 unless the interface is oper-up.

If I successfully apply configuration, I should be able to view that configuration (and confirm it is correct).

Note, I've found the code which performs th

[2018-02-08 01:15] atanu-mandal commented on #54
Auto Negotiation setting depends on the capability of physical media connected to the interface. For example, we should enable auto-neg by default for CR4 (copper) media and disable auto-neg for SR4 (fiber).
Now in case of "negotiation = auto", depending on the media connected NAS module sets the auto-negotiation.
If user sets something other than AUTO(i.e. default) the configuration will be passe

[2018-02-08 01:17] atanu-mandal commented on #54
For reference :

https://github.com/open-switch/opx-platform-config/blob/master/vendor/dell/s6000/etc/opx/phy_media_default_npu_setting.xml

https://github.com/open-switch/opx-nas-interface/blob/master/scripts/bin/base_nas_front_panel_ports.py

[2018-02-08 02:19] atanu-mandal commented on #54
This should work as follows..

negotiation = on, auto-negotiation is set as 1
negotiation = off,  auto-negotiation is set as 0 (set the speed/duplex as required)
negotiation = auto, auto-negotiation gets updated based on the physical media’s capability.

[2018-02-08 02:32] atanu-mandal commented on #58
We had fixed this issue for VM platform sometimes back that was accidentally removed during recent upgrade. We are working on to get those changes back to git.
Thanks for reporting this.

[2018-02-09 07:28] atanu-mandal commented on #54
Great, thanks.

I am going to close this.

[2018-02-09 07:28] #54 closed

[2018-02-09 07:44] atanu-mandal commented on #57
Looks like you are using older version of OPX (e.g. 2.1.0) installer. With latest 2.2.0 this should be working fine. Please refer the output below.

root@OPX:~# cps_set_oid.py -oper create base-acl/table id=7 name="test" stage=1 allowed-match-fields=1 priority=7
Success
Key: 1.47.3080336.3080284.
base-acl/table/id = 7
base-acl/table/id = 7
cps/object-group/return-code = 0
base-acl/table/stage = 1

[2018-02-09 08:11] atanu-mandal commented on #56
"Set" operation is only applicable for "base-acl/entry" (this supports Create/Delete/Set), all other entities i.e. table, range,counter would have Create/Delete support.
So the log message looks to be legitimate here.
We would document this.

[2018-02-09 08:13] atanu-mandal commented on #40
Review requests
https://review.openswitch.net/#/c/14505/
https://review.openswitch.net/#/c/14504/

[2018-02-09 08:19] atanu-mandal commented on #41
https://review.openswitch.net/#/c/14496/

[2018-02-09 08:40] atanu-mandal commented on #58
Fix is now merged
https://review.openswitch.net/#/c/14507/

[2018-02-09 10:34] mcallisterjp commented on #57
Thanks Atanu. I am running some kind of 2.2 VM, but it might well be an early dev-candidate rather than the final version. I will try upgrading and retest.

[2018-02-09 11:01] mcallisterjp commented on #56
Thanks Atanu. Are there plans to allow set operations on `base-acl/table` in future?

[2018-02-10 11:07] pyadvichuk opened #60 "opx-config-switch show command is failing."
`opx-config-switch` show not working and gives traceback

For my understanding current traceback relates to the `/usr/lib/opx/cps_utils.py` as the `bytearray_utils` function can't print values of type `leaf-list` and failure happened when it tried to print
`leaf-list supported-profiles` from `switch.xml`

[code]

[2018-02-11 02:27] atanu-mandal commented on #60
With OPX 2.2.0 I have tried the same , it seems to be working fine.

Is the configuration applied properly to the NPU?

OPX 2.2.0 Log:

root@OPX:~# opx-config-switch show
Key: 1.36.2359341.
base-switch/switching-entities/switch-count = 1
Key: 1.36.2359341.2359299.2359302.
base-switch/switching-entities/switching-entity/num-unicast-queues-per-port = 10
base-switch/switching-entities/switching-entit

[2018-02-12 15:06] mcallisterjp commented on #57
FYI, I thought I was running the 2.2 VM in the first place because I got the installer from https://archive.openswitch.net/vm-tools/2.2.0/lvm as suggested by https://github.com/open-switch/opx-docs/wiki/Run-virtual-machine.

Despite the URL, it installed VM 2.1. Who should I raise this problem with? An issue on the opx-docs project?

[2018-02-12 15:37] james-jra opened #61 "Can't configure LAG blocked/unblocked ports at once"
When I try to configure a LAG Interface object in CPS with `blocked-ports` and `unblocked-ports`, all of the ports I included in **both** lists end up in `blocked-ports`.

I've worked around this by doing two separate transactions - one to set `blocked-ports`, a second for `unblocked-ports`.

However, this is still inconsistent with how CPS treats lists of ports.
For example, when configuring VLAN

[2018-02-13 21:29] pyadvichuk commented on #60
From my understanding, you are not using "switch_profile" tag in the switch.xml. Just try to add
to switch.xml.

<switch_profile default_profile="default">
                        <entry supported_profile="default"/>
                        <entry supported_profile="routing"/>
</switch_profile>

I've made a simple fix for this. Is it suitable to open the PR on git.openswitch.net?

[2018-02-13 23:10] hpersh commented on #60
@pyadvichuk   I'm not sure what you are asking...  The config file /etc/opx/switch.xml is platform-dependent... and you are creating the config files for the AS7512-32X platform...  no?

[2018-02-14 00:19] atanu-mandal commented on #40
The fixes are merged.

[2018-02-14 00:19] #40 closed

[2018-02-14 00:20] atanu-mandal commented on #41
Fix is merged.

[2018-02-14 00:20] #41 closed

[2018-02-14 03:12] atanu-mandal commented on #43
Fix is merged

[2018-02-14 03:12] #43 closed

[2018-02-14 03:18] atanu-mandal commented on #47
"type" is available in the output when dell-base-if-cmn/if/interfaces/interface is queried.  Fix is merged.

[2018-02-14 03:18] #47 closed

[2018-02-14 03:53] atanu-mandal commented on #56
Hi Pete, not yet. We will update for any such plan.

[2018-02-14 03:53] #56 closed

[2018-02-14 03:54] atanu-mandal commented on #57
Yes, please go ahead. I am closing the current one.

[2018-02-14 03:54] #57 closed

[2018-02-14 03:55] #58 closed

[2018-02-14 07:23] atanu-mandal commented on #53
The expectation is to pass "front-panel-port" and "subport id" in the create request otherwise it will create interface with NPU_port which is virtual interface. So if below procedure is followed it would behave as expected.

cps_set_oid.py -qua target -oper action dell-base-if-cmn/set-interface dell-base-if-cmn/set-interface/input/operation=1 if/interfaces/interface/name=e101-002-0 if/interfaces/

[2018-02-14 07:37] atanu-mandal commented on #61
Hi @james-jra, we will take care of this. With cps_config_lag utility it behaves fine.

root@OPX:~# cps_config_lag.py
<cps_config_lag:- Lag operations >
                 cps_config_lag.py  --create --lname <lagname>
                 cps_config_lag.py  --delete --lname <lagname>
                 cps_config_lag.py  --add --lname <lagname> --port <port_list>
                 cps_config_lag.py  --remo

[2018-02-14 08:37] james-jra commented on #61
Hi Atanu,
I understand the cps_config_lag utility behaves as expected.
That is because `cps_config_lag.py` does not allow the user to set both `blocked_ports` and `unblocked_ports` in a single operation - the user must do two separate operations.
This is the same thing I'm doing in my application to work around the problem.

E.g.
[code]

So this CPS issue is still relevant.
To be consistent with a

[2018-02-14 08:45] atanu-mandal commented on #42
Fix is merged.

[2018-02-14 08:45] #42 closed

[2018-02-14 09:53] dimbleby commented on #53
Shouldn't the switch be resilient to mistakes?

That is: wouldn't it be better to:
* fix the bug
* arrange that the opx-nas service can restart after this and any similar failure?

Understood that this is in some sense user error (originating with you actually! see [this comment](https://github.com/open-switch/opx-cps/issues/51#issuecomment-362503249)) and therefore low priority - but still, I'm a

[2018-02-14 17:49] jeff-yin commented on #53
Actually the issue is being fixed so that nas will not crash in this scenario, but given that it's an uncommon operation, we'll roll out the fix in a future release of OPX. I.e., the fix will be a part of a "stable" release rather than a "testing" release.

We can leave the issue open for now for tracking purposes.

[2018-02-14 19:46] atanu-mandal commented on #53
@dimbleby , definitely. It was my bad, given that the information was provided for proper execution of the operation (to unblock any effort)  I had closed this one. We will provide you more update when the crash is actually fixed.

[2018-02-14 20:00] dimbleby opened #62 "Need to provide a bogus interface type when retrieving interface statistics"
When retrieving interface statistics from `dell-base-if-cmn/if/interfaces-state/interface/statistics`, we need to provide not only the interface name but also an interface type.

But what's really confusing: we sometimes need to provide an interface type that isn't the real interface type!

Eg:

[code]

This returns just 10 statistics, omitting (among others) those relating to unicast packets.

Th

[2018-02-18 18:58] atanu-mandal commented on #51
https://review.openswitch.net/#/c/14531/

[2018-02-18 20:53] atanu-mandal commented on #61
Hi James, I am just curious to understand the use case of setting both blocked-ports and unblocked-ports in a single operation. As we understand the unblock port gets added to the LAG when the operational state of the interface comes up which is dynamic in nature. It would be great if we can understand little bit more on the approach/use case to decide whether this functionality is required to imp

[2018-02-18 21:17] atanu-mandal commented on #55
Hi James, it also depends on whether SAI has support of Auto mode.
    sai_attr.value.booldata = (duplex == BASE_CMN_DUPLEX_TYPE_HALF) ? false : true;
    sai_attr.id = SAI_PORT_ATTR_FULL_DUPLEX_MODE;

SAI_PORT_ATTR_FULL_DUPLEX_MODE type is boolean (for AUTO it sets as FULL DUPLEX).

Does it clarify a bit? Thanks.

[2018-02-20 15:24] peterbrittain commented on #49
Actually, with #41 we agreed not to implement descriptions, so this should be re-opened.  Can you please do that?

[2018-02-20 21:50] atanu-mandal commented on #49
Reopening this to provide "description" attribute.

[2018-02-21 03:54] atanu-mandal commented on #52
For VLAN interface now the information is provided as below.

cps_get_oid.py -qua target dell-base-if-cmn/if/interfaces/interface if/interfaces/interface/type=ianaift:l2vlan if/interfaces/interface/name=br201

============dell-base-if-cmn/if/interfaces/interface==========

dell-base-if-cmn/if/interfaces/interface/if-index = 43
dell-if/if/interfaces/interface/phys-address = 00:50:56:94:02:8b
if/int

[2018-02-21 04:15] atanu-mandal commented on #62
Essentially for software loopback interface  there is no such interface mapped (or created) at NPU level, this is basically a kernel only interface. So there is no statistics gathered from NDI layer , the data is captured from linux side.
On related note when any ip address is configured to the loopback interface that gets programmed to NPU's route table.
Currently interface type is only checked i

[2018-02-21 16:58] james-jra commented on #55
I think we are in agreement:
* SAI ports have a boolean attribute (SAI_PORT_ATTR_FULL_DUPLEX_MODE)
* Configuring "duplex" in CPS executes the `ndi_port_duplex_set` function in NAS (shown below)
* In this function:
    * If duplex is **half**, set SAI_PORT_ATTR_FULL_DUPLEX_MODE = 0
    * If duplex is **full**, set SAI_PORT_ATTR_FULL_DUPLEX_MODE = 1
    * If duplex is **auto**, set SAI_PORT_ATTR_FUL

[2018-02-22 09:01] james-jra commented on #61
I would expect that:
* The CPS YANG model defines the valid configuration that I can apply.
* I can apply any valid configuration in one transaction.
* Any limitations to valid configuration, or the ordering of operations is documented somewhere.

Use cases for configuring blocked/unblocked ports in one transaction:
* A user wants to unplug a cable, therefore must swap an active and backup port in

[2018-02-23 11:00] mcallisterjp opened #63 "Can't attach ACL to VLAN interface"
I'm using IN_INTF/OUT_INTF for ACL match rules that want to match on an ingress/egress interface, but this match type doesn't work for VLANs or LAGs.

Out of the other match rules, SRC_PORT/DST_PORT don't work:
[code]

And it's not clear how the concepts in the others relate to interface types. How should this be configured in CPS? Or is it not possible?

[2018-02-23 14:53] mcallisterjp opened #64 "No 'reject' packet action on ACL action fields"
The typedef `base-acl/packet-action-type` doesn't contain a 'reject' packet action, the semantics of which is to drop the packet and send an ICMP destination-unreachable message back to the source.

This is a common ACL action configurable in various other networking applications, including `iptables`. Are you planning to support it in CPS?

[2018-02-23 16:08] atanu-mandal commented on #51
Closing this issue as the fix is merged.

[2018-02-23 16:08] #51 closed

[2018-02-23 16:49] dimbleby commented on #62
Pete discussed this with you, and our current understanding is as follows:

* the right way to use the API to get statistics is: provide the interface name only (no need to provide a type)
* when we do this for the loopback interface, it is expected and correct that the set of statistics that is returned is smaller than for other interfaces
* when I provided type `ianaift:ethernetCsmacd` for the l

[2018-02-25 21:09] atanu-mandal commented on #64
CPS supports various packet actions e.g. drop/forward/copy to cpu / trap to cpu and combinations among these attributes.
For above packet action I guess SAI does not provide such capability to send back new packet with dest-unreachable message.
So this enhancement may be possible by using trap_to_cpu action to redirect packets to CPU and using some rule (e.g. iptables) in the kernel to realize rej

[2018-02-26 11:54] mcallisterjp opened #65 "ACL match on OUT_INTF fails."
Configuring an ACL entry with a match rule of OUT_INTF does not seem to successfully match packets which exit the router on the specified interface.

## Test setup:

Ping B->A in the following setup:
[code]

With no ACLs, this works.
With the following config, which should drop egress packets on e101-001-1 on the Router, it still works.
Pinging in the other direction works too. However the tcpdump

[2018-02-26 11:57] mcallisterjp commented on #65
We wondered if this had something to do with the `stage` field in the ACL; what is this supposed to do? I had assumed that it referred to whether the ACL rules are checked for the packet (so stage=INGRESS would mean packets originated by the local device would not be checked)

Is there some undocumented dependency between `base-acl/table/stage` and `base-acl/entry/match[IN_INTF]` and the other int

[2018-02-26 16:05] dimbleby opened #66 "CPS gets into a state where IP addresses cannot be configured"
We sometimes see a VM get into a state where attempts to set an IP address on an interface fail.

It's currently unclear exactly what the necessary steps to reproduce this are - I am working on getting a clearer picture of this.

Once in the bad state, attempts to set an IP address via CPS fail.  Eg running [this script](https://github.com/open-switch/opx-docs/blob/master/examples/configure_ip_add

[2018-02-26 19:25] #33 closed

[2018-02-26 19:25] jeff-yin commented on #33
I believe this issue has since been resolved in the latest version of OPX. If not, please re-open (or open a new one).

[2018-02-26 19:26] jeff-yin commented on #34
Next merge has occurred so this should be fixed. Closing the issue for now. If you run into it again, please open a new issue.

[2018-02-26 19:26] #34 closed

[2018-02-26 19:36] jeff-yin commented on #60
@pyadvichuk any update?

[2018-02-27 01:57] atanu-mandal commented on #65
Can you please try with base-acl/table/stage = 2 (that would set the stage as EGRESS).

[2018-02-27 02:00] atanu-mandal commented on #63
Can you please use OUTER_VLAN_ID to attach the ACL to VLAN.

[2018-02-27 02:07] atanu-mandal commented on #66
Regarding the SAI_PORT error (i.e. attr index 0 attr id 76 failed) the below fix should solve the issue (merged recently)

https://review.openswitch.net/#/c/14562/

We need to check why the opx-pas is failing, can you please provide "service opx-pas status" details.

[2018-02-27 09:07] dimbleby commented on #66
Here's `opx-pas` status from a recent example:

[code]

[2018-02-27 10:24] mcallisterjp commented on #65
Atanu,

I can try this out, but does that mean there is no way of specifying an entry with ingress and egress interface match rules?

[2018-02-27 10:26] mcallisterjp commented on #63
Atanu,

Presumably OUTER_VLAN_ID only works for VLAN-tagged packets? Is there an answer for untagged VLAN interfaces? Or for LAGs?

[2018-02-27 11:51] dimbleby commented on #66
I have discovered that when CPS gets into this state, it can be recovered by `service opx-ip restart`.

However there is no indication that `opx-ip` was unhappy:

[code]

Hope that helps.

[2018-02-27 14:36] dimbleby commented on #66
I can now reliably reproduce this condition, by using ansible to install a debian package - any package - on the switch.

On the OPX switch:
- untar the tarball that we've been delivering to you, arranging that the debians are in (say) `/root/nst-eval-install`
- (this is just to arrange that some target debian is in place)

On some other host (from which you will run ansible):
- create a `hosts` f

[2018-02-28 03:56] atanu-mandal commented on #55
Hi James, sure we are in full agreement to understand the current behavior. Your approach looks fine.

[2018-02-28 04:17] atanu-mandal commented on #62
Hi David, your understanding is correct.
Yes, we would fix opx-show-stats utility , thanks for the catch! If you want please go ahead and create a new issue for that.

[2018-02-28 04:28] atanu-mandal commented on #63
Hi Pete, OUTER_VLAN_ID should be applicable for untagged VLAN as well, in that case PVID  will be used.
In the current version it does not seem to have full support for LAG as a match-type, we can use the LAG's member port(ports) into IN_PORT (IN_PORTS) classifier.
Hope that helps.

[2018-02-28 04:37] atanu-mandal commented on #63
Hi Pete, also looks like (from the log) you are trying this on a VM target where we are not having much support for ACL. I would suggest to try the ACL configuration on real hardware.

[2018-02-28 08:54] dimbleby commented on #62
Thanks!

I don't care about opx-show-stats, please just track this internally.

David

[2018-02-28 08:54] #62 closed

[2018-02-28 18:26] atanu-mandal commented on #55
Closing this issue.

[2018-02-28 18:26] #55 closed

[2018-03-01 12:13] james-jra opened #67 "Cannot add LAG interface to VLAN interface as tagged port"
The CPS transaction to add a LAG interface to a VLAN interface as a tagged port always fails.
The same transaction for an untagged port succeeds.

The trace below demonstrates this behavior.
Note, I've added some print statements to the OPX utilities `cps_config_vlan.py` and `cps_config_lag.py` to help troubleshooting.
The diff of these exact changes can be found at the end of this post.

## Repro

[2018-03-02 01:14] jeff-yin commented on #49
The design for this is currently being discussed -- whether to put the interface description in the CPS DB or whether to store it in some existing data structure. Targeting 3/8 for closure.

[2018-03-02 02:38] atanu-mandal commented on #52
"interfaces-state" is not provided for VLAN interface. Now all the information required for VLAN is available through "interfaces" model as mentioned above. Hope that would suffice the ask.

[2018-03-02 02:44] atanu-mandal commented on #48
"interfaces-state" is not provided for VLAN interface. We have incorporated the changes to have the required information as asked in #52 through "interfaces" object.
In that context "if/interfaces/interface/enabled" attribute is suggested to decide on "if/interfaces-state/interface/admin-status" and "if/interfaces-state/interface/oper-status" for VLAN interface.
Hope that helps.

[2018-03-02 02:46] atanu-mandal commented on #59
This is being worked on to provide the option to retrieve the desired speed for an interface.

[2018-03-02 02:50] atanu-mandal commented on #61
Hi @james-jra, thanks for your explanation. We would plan to enhance this feature after the upcoming release.

[2018-03-02 03:49] atanu-mandal commented on #67
Thanks @james-jra for the detailed description of the issue and  the steps to reproduce. It really helps.

The issue seems to be with not having “dummy0” interface in kernel (please check that on your target).

The linux kernel has a limitation that we can only add a bond to vlan(i.e. bridge) when the bond has a member port. So “dummy0” is used for that purpose.

If we create the interface manuall

[2018-03-02 07:03] atanu-mandal commented on #67
To follow up on the “dummy0” interface, we just need to execute “modprobe dummy” (that would create the “dummy0” interface).

root@OPX:~# ifconfig dummy0
dummy0: error fetching interface information: Device not found

root@OPX:~# modprobe dummy

root@OPX:~# ifconfig dummy0
dummy0    Link encap:Ethernet  HWaddr da:ac:6a:36:80:25
          BROADCAST NOARP  MTU:1500  Metric:1
          RX packets:0 e

[2018-03-02 08:24] atanu-mandal commented on #67
Fix is in review
https://review.openswitch.net/#/c/14571/

[2018-03-02 13:36] michaelsiuda opened #68 "Oper status not reported on LAG interfaces"
Regardless of the number and state of member ports, CPS doesn't report oper or admin status of LAG interfaces.

LAG interface with no member ports - should be oper-down even if enabled:
[code]
LAG interface with active member ports - should be oper up:
[code]

[2018-03-02 18:27] GarrickHe commented on #68
Hello @michaelsiuda ,
This issue has been fixed and the code has been pushed into opx-nas-interface. Please upgrade your version. Here is my output for LAG when querying the interface-state:

============2.15.44.2883618.2883611.2883586.==========
base-if-lag/if/interfaces/interface/learn-mode = 2
base-if-lag/if/interfaces/interface/id = 1
if/interfaces-state/interface/admin-status = 2
if/interface

[2018-03-02 21:59] GarrickHe commented on #59
I have a fix. It is currently in code-review.

[2018-03-02 23:54] atanu-mandal commented on #59
https://review.openswitch.net/#/c/14572/

[2018-03-04 08:10] atanu-mandal commented on #66
Somehow I could not reproduce the issue having followed the above procedure, hence need more info to troubleshoot further.

[2018-03-04 10:29] dimbleby commented on #66
Sure - what do you need?

[2018-03-05 03:44] atanu-mandal commented on #66
Can you provide the logs related to the issue (error logs, registration break, cps command failure ,etc), that may help.

[2018-03-05 08:31] dimbleby commented on #66
I really don't have any useful logs:

* I can tell that `trans_cb()` is not called because I added an additional `print('hello')` on entry to it - and when in the broken state we do not see that log
* All I get from `configure_ip_address.py` is [this](https://github.com/open-switch/opx-docs/blob/a82327498caeeff50750e3923cddbab1c42e3ed2/examples/configure_ip_address.py#L22) runtime exception

What

[2018-03-05 21:52] atanu-mandal commented on #49
Fixes are in review
https://review.openswitch.net/#/c/14574/
https://review.openswitch.net/#/c/14573/

[2018-03-06 04:25] atanu-mandal commented on #66
Assuming you are able to reproduce the issue consistently, can you please check if below changes fix the issue. Recently we have encountered some EPIPE randomly and following code helps to avoid that.
You can make the change on the target (/usr/bin/base_ip.py).

Diff:
[Diff.txt](https://github.com/open-switch/opx-cps/files/1783507/Diff.txt)

File attached with above change (please rename the file

[2018-03-06 04:31] atanu-mandal commented on #63
Please try LAG interface as SRC_INTF/OUT_INTF filter type in INGRESS stage, that should be working. Let us know if you face any issue.

[2018-03-06 04:33] atanu-mandal commented on #65
Please let us know if you have tried the above. OUT_INTF/EGRESS and IN_INTF/INGRESS combination should be working. Let us know if you find any issues.

[2018-03-06 04:35] atanu-mandal commented on #67
The fix is merged. I am closing this issue,

[2018-03-06 04:35] #67 closed

[2018-03-06 05:30] atanu-mandal commented on #59
The fix is merged.

[2018-03-06 09:56] michaelsiuda commented on #68
Thanks.  We'll try it out and let you know if there are any other issues.

[2018-03-06 10:22] dimbleby commented on #66
The code that you provided tries to log the undefined variable `vrf_name`.  As a result, no IP configuration succeeds at all with that version.  I guess you forgot to test this!

However, if I fix that so that we only try to log `addr` and `name` - then that does seem to solve the problem.  So this fix is basically looking good.

I see that there are still a handful of uses of `print` in this code

[2018-03-06 11:15] dimbleby commented on #65
Hi,

Setting `base-acl/table/stage = 2` doesn't seem to make this work anyway.  Here's my configuration:

[code]

and here's a ping being allowed out over that interface:

[code]

Please advise!

[2018-03-06 15:17] dimbleby commented on #63
Hi,

There are several things going on in this one!

* `SRC_INTF` works fine on a LAG interface, so that's great - thank you
* `OUT_INTF` does not work on a LAG interface
  * The configuration is accepted, but ineffective
  * However since we don't yet have it working on plain ethernet interfaces either - per #65 - that's probably not surprising
   * Let's get #65 resolved first, and then revisit

[2018-03-07 00:00] atanu-mandal commented on #66
Great to know that the change fixes the issue. We will commit this change. We may not need to  remove other print.

I actually tested without restarting opx-ip service, hence it worked :-) Sorry for that.

As you have mentioned this is the updated file
[base_ip.py.txt](https://github.com/open-switch/opx-cps/files/1787208/base_ip.py.txt)

[2018-03-07 04:12] atanu-mandal commented on #65
The above configuration/interfaces mentioned is quite off from the diagram depicted above.
So I am not sure whether it is tested in the same context.

Couple of points
- Is the packets generated from the local host, if so, it will go through CPU port and be directly forwarded to physical front end port. It will just bypass NPU pipeline. ACL rule is not applied to this type of packet.
- The ACL rul

[2018-03-07 04:14] atanu-mandal commented on #63
OUT_INTF should work for both ingress and egress stages. But for egress stage, LAG interface is not supported. Please check the comments under #65.

[2018-03-08 14:11] dimbleby commented on #65
Hi Atanu,

I was trying a simpler configuration in the expectation that it wouldn't make any difference - but if we should avoid pings generated from the local host then I'll go back to the slightly more complex setup per Pete's [opening description](https://github.com/open-switch/opx-cps/issues/65#issue-300209549).

However, that just gets us back to where we started: matching on `OUT_INTF` fails

[2018-03-09 08:03] kot-begemot-uk opened #69 "Incompatible ENUM and boolean representations"
All standardized representations for ENUM and boolean such as RFC 4717, 7951, etc use the textual representation of ENUMs and booleans.

CPS presently can only understand or generate the numerical for ENUMs and uses 0/1 instead of true/false for booleans. This use of yang modeled data is not interoperable and requires the use of yang models to convert it to an interop form on every operation.

[2018-03-09 08:07] kot-begemot-uk opened #70 "Gaps in Yang tree"
It is a standard expectation for a yang tree that a read at any level will yield the branches under that level.

For example:

if we have a tree of {"if":{"interfaces":[...]}} a read at if will produce the contents of the "if" container and all of its included lists.

In cps it does not - there are several places in the model where the top level container containing interesting lists cannot be rea

[2018-03-09 08:10] kot-begemot-uk opened #71 "Tree structure generated by CPS does not match the model"
Dell-base-common augments ietf-interfaces.

The expectation would be that the keys should still be from ietf-interfaces instead of dell-base-common. Not the case.

Additionally, to add to the confusion, while the keys are under dell-base-cmn, the data is still under if/ +/- augmentations.

This makes the whole interface tree non-interoperable versus upstream implementations without remapping and r

[2018-03-09 08:27] kot-begemot-uk opened #72 "Compatibility issues in using prefix instead of model name"
The standard for a Yang Instance Identifier in yang data is different from the actual model data including YIN. Model grammar specifies:
[prefix:] identifier
That is fine for the model, because there is an implicit guarantee that [prefix:]identifier is locally unique and has local meaning.

Using this notation for data keys has issues for data interop.

While it is possible to map this to netconf

[2018-03-09 08:29] kot-begemot-uk opened #73 "Insufficient information reported by cps.type()"
The life of a developer feeding yang modelled data into cps and from cps would be significantly easier if cps.type() also reported the actual key fields for lists. Presently it does not.

[2018-03-09 10:40] james-jra opened #74 "Creating LAG interface without a number in its name causes opx_nas_daemon to crash"
Creating a LAG interface with a name that does not end in an integer fails and causes opx_nas_daemon to crash.

Note: The same behaviour is true even if we provide a LAG ID using `base-if-lag/if/interfaces/interface/id`

Expected behaviour:
* opx_nas_daemon should not crash because of a bad interface name
* If a number is required at the end of the interface name, this should be documented somewhe

[2018-03-09 14:21] dimbleby commented on #65
You asked via email for some more details.  I think you actually have most of this already, but here goes anyway:

* commands to configure the ACL:

[code]

* Topology details
  * per [report](https://github.com/open-switch/opx-cps/issues/65#issue-300209549)
* Output of `cps_get_oid.py base-acl/table` and `cps_get_oid.py base-acl/entry`
  * per [report](https://github.com/open-switch/opx-cps/issue

[2018-03-12 01:56] atanu-mandal commented on #49
Fix is merged. Currently "description" is properly populated for all the interfaces (physical, LAG, VLAN) except loopback interface. Hope I can close this issue now. Please reopen if needed.

[2018-03-12 01:56] #49 closed

[2018-03-12 02:09] atanu-mandal commented on #59
Closing this. Please reopen for any further issue.

[2018-03-12 02:09] #59 closed

[2018-03-12 02:10] atanu-mandal commented on #66
Closing this, please reopen for any further issue.

[2018-03-12 02:10] #66 closed

[2018-03-12 02:12] atanu-mandal commented on #68
Closing this, please reopen for any further issue.

[2018-03-12 02:12] #68 closed

[2018-03-12 05:39] atanu-mandal commented on #65
Thanks for providing the details, will get back to you on this shortly.

[2018-03-12 19:11] GarrickHe commented on #74
Thanks. I am looking into this issue.

[2018-03-12 19:43] dimbleby opened #75 "upgrade failing - packages fighting over /usr/lib/x86_64-linux-gnu/libsai-0.9.6.so.1.0.0"
Trying to upgrade boxes via `deb http://deb.openswitch.net/ testing main`:

[code]

But then:

[code]

Here's `opx-show-version`:

[code]

Please advise.

[2018-03-12 22:13] GarrickHe commented on #74
@james-jra

I have found the root-cause and will implement a fix. Will let you know when it is pushed. The fix will be in opx-nas-interface, not opx-cps.

Thanks,
Garrick

[2018-03-12 22:17] GarrickHe commented on #75
@dimbleby

I'll try to reproduce this issue on my own VM. During my testing I haven't not seen this issue show up. I will keep you posted. Was there any previous apt-get updates done on this VM?

Thanks,
Garrick

[2018-03-12 22:27] dimbleby commented on #75
This one isn't a VM, it's hardware.  Our VMs have updated fine, only the physical boxes are seeing this problem.

Yes, this box had fairly recently been updated - here's the previous successful upgrade logged in `/var/log/apt/history.log`:

[code]

[2018-03-13 07:04] atanu-mandal commented on #65
Can you please provide the exact commands you have tried with cps_set_oid.py to set the EGRESS stage. The above command still shows the stage set as INGRESS
(i.e. {'base-acl/table/stage': bytearray(b'\x01\x00\x00\x00'))

To debug the issue further...we may want see something similar to this (though I am passing INGRESS stage)

- root@OPX:~# cps_set_oid.py -oper create base-acl/table stage=1 priori

[2018-03-13 11:12] dimbleby commented on #65
Hi Atanu,

Yes, we're still using ingress because - as [earlier](https://github.com/open-switch/opx-cps/issues/65#issuecomment-371497560) - you advised that this should work, while we can't even configure egress!

When we configure using egress, everything is the same - except that the stage becomes 2 when creating the table:

[code]

Here's the output of `opx-switch-shell "fp show group 2"` (our

[2018-03-13 11:39] dimbleby commented on #75
Per advice from Atanu, we have now switched to using oldtesting rather than testing - and no longer see this conflict.

So from my point of view this is no longer a problem, but maybe you'll want to keep this issue around to track fixing the testing repository.

[2018-03-15 15:02] james-jra opened #76 "base-ip/ipv4/enabled missing from query and does not work"
Setting base-ip/ipv4/enabled does not seem to do anything.
I would expect it to act the same as base-ip/ipv6/enabled.

Also it is absent when querying configuration.

## Reproduce ##

* Start with an oper-up interface with IPv4 and IPv6 addresses
[code]
* Disable IPv6, and the IPv6 addresses are removed (as expected)
[code]
* Disable IPv4, and the transaction succeeds, but nothing changes - it sti

[2018-03-15 17:17] mcallisterjp commented on #58
This is still not working as of the 2.2.0 version on `deb http://deb.openswitch.net oldtesting opx`.

Which version has this been merged in for? I can't see that information on the gerrit page in a way I understand.

[2018-03-15 17:27] mcallisterjp commented on #58
Here's the version on `oldtesting` now:
[code]

[2018-03-15 19:14] atanu-mandal commented on #58
I see, this fix is part of opx-nas-interface (5.10.1+opx8)
https://review.openswitch.net/#/c/14583/3/debian/changelog

It should be part of http://archive.openswitch.net/installers/2.3.0-dev/PKGS_OPX-testing-2.3.0-dev1-installer-x86_64.bin

[2018-03-16 04:52] atanu-mandal commented on #76
Hi @james-jra , it seems this "enabled" attribute is meant for ipv6 only (though I understand it is part of common ip config param group which is bit confusing).

Please refer the description inside the yang model.

https://github.com/open-switch/opx-base-model/blob/dcadb2f62b44fc399b33eed0c0bd721334544569/yang-models/dell-base-ip.yang#L53

Do you have specific requirement to disable ipv4 ?

[2018-03-16 05:07] atanu-mandal commented on #75
Thanks for confirming. Closing this now, you can reopen for any further issue.

[2018-03-16 05:07] #75 closed

[2018-03-16 08:46] james-jra commented on #76
Thanks for your feedback
We do not have a specific requirement to disable IPv4

If the "enabled" attribute is only relevant for IPv6, do you intend to fix the dell-base-ip YANG model?
(remove the "enabled" field from the "common-ip-config-param" group and make it specific to IPv6?)

[2018-03-16 14:07] mcallisterjp commented on #48
Atanu,

This is fine for the admin-status concept, but doesn't really reflect the oper-status concept well — it seems strange to report a VLAN that is enabled but contains only oper-down ports as "up". Are there any plans to integrate this operational state into the VLAN interface entry?

[2018-03-16 17:10] dimbleby commented on #63
All that was left in this one was matching on outbound ACL interfaces - and this seems to be the same as #65.  Closing.

[2018-03-16 17:14] dimbleby commented on #65
It seems as though what was stopping this working for us, at least on the egress stage, was the inclusion of additional `allowed-match-fields` on the ACL table.

* Configuration per [this comment](https://github.com/open-switch/opx-cps/issues/65#issuecomment-370748551) fails to block any traffic
* But setting `allowed-match-fields` to `40` makes it all work as it should

Is this expected behaviour

[2018-03-19 02:31] atanu-mandal commented on #63
Based on above comments I am closing this one. Please reopen if you find any issue.

[2018-03-19 02:31] #63 closed

[2018-03-21 05:08] atanu-mandal commented on #65
Hi David, that works. As we have mentioned earlier below steps would handle the same.

e..g.
root@OPX:~# python

17

[2018-03-21 05:11] atanu-mandal commented on #76
Thanks James for your response. We will plan to fix the dell-base-ip YANG model.

[2018-03-21 07:56] dimbleby commented on #65
Hi Atanu,

Yes, we have this working now.

But I'd still very much like to understand whether it is expected, and intended, that the additional `allowed-match-types` of 5 and 6 should prevent matching on egress interface from working?

(This seems undesirable!  So I'm hoping that it's not intended and that you'll want to fix it...)

Thanks

[2018-03-21 14:50] james-jra opened #77 "Setting VLAN interface admin state via Netlink does not propagate to CPS"
When I set the admin-state of a VLAN interface using the typical Linux networking utilities, the target value of the `if/interfaces/interface/enabled` field does not change when queried through CPS.

Setting `if/interfaces/interface/enabled` through CPS does work as expected - e.g. setting enabled=1 causes the interface to come up, and subsequent queries in CPS are correct.

## Reproduction ##

*

[2018-03-25 16:44] dj-s opened #78 "can't save L2 configuration with cps_set_oid.py"
```cps_set_oid.py``` does not save L2 configuration.

## my setup

[code]

## Reproduce

Create and apply a vlan on a UNTAGGED interface

[code]

Now, verify the configuration with ```cps_get_oid.py```

[code]

now, check the L2 connectivity with a device (here, my laptop)
[code]
in fact, it seems necessary to shut and no shut vlan and interfaces
[code]
Now, it seems ok (mac and untagged vlan)

Fo

[2018-03-26 03:18] atanu-mandal commented on #65
Hi David,

It shouldn't have any issue with additional allowed-match-types of 5, 6 for EGRESS stage. It is expected to work.

Thanks.

[2018-03-26 03:24] atanu-mandal commented on #77
Hi James,

Your observation is right. Currently vlan attributes from netlink are not processed. We are planning to get it fixed in future release.

Thanks.

[2018-03-26 10:17] dimbleby commented on #65
Great!  So let's leave this open, and covering this problem.

[2018-03-27 12:44] james-jra opened #79 "Query interface configuration by type broken"
I've just updated an OPX 2.3 machine (`apt-get update && apt-get upgrade`)
After this update, querying interface configuration by interface type no longer works - it always returns the full list of interfaces. Querying by name or interface-index still works.

Before the update, I could query all configuration for VLAN interfaces, as shown below:

[code]

Now, the same command returns all interface

[2018-03-27 19:30] hpersh commented on #79
The 'type' field of the interface object is not a key field (see RFC 2863).
Therefore, the application should request all interface objects, and filter those whose type is 'vlan'.

[2018-03-27 23:58] jeff-yin commented on #79
Hi @james-jra -- I have to ask, but did you reboot the system after the "apt-get upgrade" operation?

[2018-03-28 00:01] atanu-mandal commented on #79
As we have provided the support for "type" based query for the interfaces, it should work. Can you please check whether you have  rebooted the switch after the upgrade. Also I would suggest to use dist-upgrade instead of upgrade.
Also please refer "Upgrading OpenSwitch" section at https://archive.openswitch.net/docs/2.3.0/openswitch_opx_230_release_notes.pdf

[2018-03-28 08:48] james-jra commented on #79
@hpersh I agree that the 'type' field is not a key field, and I am happy to have the application implement this filtering if this is no longer supported in CPS.
However, as Atanu has said, the CPS API has historically supported the 'type' based query for interfaces. and I would be alarmed if this has been intentionally removed without being documented anywhere (like package changelogs). Especially

[2018-03-28 10:52] GarrickHe commented on #79
@james-jra
I believe I found the cause. It may have to do with another push that went in recently. Will keep you posted.

Thanks,
Garrick

[2018-03-28 11:46] GarrickHe commented on #74
@james-jra
Update, I will push the changes soon. Been busy with other issues but I haven't forgotten you =)

[2018-03-28 14:08] atanu-mandal commented on #79
Hi James, Thanks for trying and providing us the detailed info. As Garrick has mentioned we are actively looking into this having found a probable cause. Will update you soon.

[2018-03-30 18:34] atanu-mandal commented on #65
Are you saying other match types are not working with OUT_INTF ?

Can you please try the below steps and verify. It should work with other filter types too (except SRC_INTF type) in Egress stage.

root@OPX:~# python
Python 2.7.9 (default, Jun 29 2016, 13:08:31)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

4

1

`-------------------------------------

[2018-03-30 20:03] dimbleby commented on #65
I am saying that the following configuration fails to block traffic:

[code]

whereas (continuing the session) this successfully blocks traffic:

[code]

That is: the presence of the additional `allowed-match-fields` on the table breaks matching on outbound interface.

[2018-04-02 20:41] Ragsboss opened #80 "Server (untagged) unable to ping SVI gateway hosted of ToR"
I have a leaf-spine network, where a VLAN is created on the leaf (aka ToR) and server facing interfaces are added as members to the bridge corresponding to this VLAN. An IP address is configured on this bridge to represent the SVI. On server, IP is configured on a physical interface and sending untagged packets to ToR SVI IP is not working. Below are further details

OPX version is
[code]

Content

[2018-04-02 21:10] Ragsboss commented on #80
Tagged traffic from server does work fine.

[code]

tcpdump from ToR interface
[code]

[2018-04-03 02:45] madhu222 commented on #80
@Ragsboss
You have to configure both tagged and untagged port on the server side also. I have one server which is connected to the switch. Below are the configurations I did.

**Server Side**

`auto br500`
`iface br500 inet static`
  `address 12.12.10.1/26`
  `bridge_ports ens192 ens192.500`
  `bridge_stp on`
  `bridge_bridgeprio 8192`

`root@ubuntu-opx1:~# brctl show`
`bridge name     bridge id

[2018-04-03 05:32] Ragsboss commented on #80
@madhu222 thank you for your response. The use case here is a server that wants to and can send only untagged traffic. Additionally, we can't ask server guys to configure bridge or tagged ports on the server. Server side should be oblivious to ToR model and standard interfaces/bonds with properly configured IPs should just work. Any configurations including (but ideally no) workarounds are possibl

[2018-04-03 20:08] jeff-yin commented on #79
Also https://review.openswitch.net/14696

The packages with the fixes are currently published to the "unstable" release stream and will be made available once the packages are promoted to "stable" in the next OPX bugfix release, 2.3.1.

[2018-04-04 00:14] atanu-mandal commented on #65
I hope you have checked the NPU is configured properly with all the filters i.e." opx-switch-shell "fp show group <group_no>" , please provide us the output if possible. We would want to check the behavior with same topology and update.

[2018-04-04 08:25] dimbleby commented on #65
Have you tried reproducing this?  I suppose it would be interesting if you can't reproduce it - what's different about our system and yours? - but more likely that you can reproduce it and then it'll be *much* more efficient for you to answer such questions yourself.

Meanwhile... I see this:

[code]

And the following

[code]

... also fails to block traffic.

[2018-04-04 18:10] atanu-mandal commented on #65
Thanks David for providing all the details. Off late we have seen issue with SRC_IP filter in EGRESS stage. We will take this up and get back to you with further details.

[2018-04-04 18:34] #79 closed

[2018-04-04 19:10] jeff-yin commented on #80
Hi @Ragsboss -- you won't be able to configure an untagged VLAN in /etc/network/interfaces because of a limitation in the kernel. The kernel doesn't generate netlink messages for the Linux CPS Adapter to read and install the VLAN into the NPU, so configuring untagged VLANs in OPX must be done via cps_config_vlan.py.

@madhu222 , would it be possible to add "cps_config_vlan.py" lines to the /etc/ne

[2018-04-04 20:24] GarrickHe commented on #78
@dj-s
I'll take a look at this issue.

[2018-04-05 15:44] madhu222 commented on #80
@Ragsboss you can use only untagged on the server side.  Example configurations below.

`auto br500`
`iface br500 inet static`
  `address 12.12.10.1/26`
  `bridge_ports ens192`
  `bridge_stp on`
  `bridge_bridgeprio 8192`

On the switch side configurations below.

`auto br500`
`iface br500 inet static`
  `address 12.12.10.6/26`
  `bridge_ports e101-027-1 e101-027-1.500`
  `bridge_stp on`
  `bridge

[2018-04-05 20:26] madhu222 commented on #78
@dj-s You can modify the /etc/network/interfaces file to make it persistent.

**CPS Configuration**

`auto e101-001-0`
`iface e101-001-0 inet manual`
`  pre-up /bin/ip link set dev e101-001-0 up`

`auto e101-002-0`
`iface e101-002-0 inet manual`
`  pre-up sudo /bin/ip link set dev e101-002-0 up`
`  up sudo cps_config_vlan.py --add --id 1011 --vlantype 1 --port e101-001-0,e101-002-0`
`  post-up sud

[2018-04-08 17:32] dj-s commented on #78
@jeff-yin thank you for your time and these explanations.
@madhu222 your solution work fine, thanks !

[2018-04-11 18:02] #78 closed

[2018-04-16 17:43] GarrickHe commented on #74
@james-jra
Issue is fixed with this push:
https://review.openswitch.net/#/c/14731/1

[2018-04-16 17:44] #74 closed

[2018-04-19 10:32] dimbleby opened #81 "Setting physical address on LAG interface doesn't always stick"
Our log shows us setting the MAC address on `bnd1` here, to `00:01:02:03:04:05`:

[code]

But a few minutes later, the target physical address for this interface has changed:

[code]

(and indeed the actual MAC address on this interface is this address, rather than the one we configured).

`00:50:56:92:d3:c1` is the autogenerated MAC address for `e101-002-0`, which is slave to `bnd1`:

[code]

I s

[2018-04-19 10:38] dimbleby commented on #81
Indeed, on this switch I now can't get the physical address to change at all - even though CPS reports success when I configure it:

[code]

[2018-04-19 12:37] dimbleby commented on #81
The reason that we take `e101-002-0` out of the bond is that this switch should be standby in the LAG.  So I think we understand the sequence, if not what to do about it!

How can we make the MAC address stick on `bnd1`?

[2018-04-24 21:51] atanu-mandal commented on #48
We are working on to provide if/interfaces-state/interface/oper-status for VLAN interface that would reflect the oper state of corresponding bridge interface.

[2018-04-24 21:52] atanu-mandal commented on #52
We are working on to provide interface-state for VLAN as well.

[2018-04-26 06:52] GarrickHe commented on #61
I have a fix for this issue. Currently testing. Will update when it is pushed.

[2018-04-26 20:55] atanu-mandal commented on #81
We are looking into this issue.

[2018-04-26 20:57] GarrickHe commented on #81
Hello, I will look into this issue and keep everyone posted.

[2018-04-26 21:01] GarrickHe commented on #81
@dimbleby
What switch/platform are you using?

[2018-04-26 22:09] dimbleby commented on #81
S6000-VM

[2018-04-30 18:08] GarrickHe commented on #61
@james-jra
Issue fixed with this push:
https://review.openswitch.net/#/c/14763/

Thanks,
garrick

[2018-04-30 18:36] #61 closed

[2018-04-30 20:27] GarrickHe commented on #81
@dimbleby ,
I'm trying very hard to reproduce the issue but is unable to. I am using opx-2.3.0. Can you give more details on how you were able to run into the issue?

1. Did you run the LAG cps commands immediately after system startup?
2. Are there other configs on the system that has the issue? If yes, do you mind sharing them?
3. What were the exact commands you used to create the LAG interface

[2018-05-01 09:45] dimbleby commented on #81
Hi Garrick,

Here's a session:

[code]

The MAC address on `bnd1` was configured as `01:02:03:04:05:06`, but when I added the interface `e101-010-0` into the logical port it was set to `ec:f4:bb:fd:53:e5`.  I did not ask for this change - so far as my use of the CPS API is concerned, the configured target physical address on this interface is still `01:02:03:04:05:06`.

This particular repro was o

[2018-05-01 16:38] GarrickHe commented on #81
Thanks David,
I'll keep you posted. I'm assuming this is a stand-alone device without any other device connected to it and no other configuration is loaded?

-garrick

[2018-05-01 17:14] dimbleby commented on #81
correct

[2018-05-02 06:01] kot-begemot-uk opened #82 "Result pollution in latest CPS"
CPS now pollutes results with data from portions of the tree other than the requested one.

Example:

A request for dell-base-if-cmn/if/interfaces/interface and if/interfaces/interface/name=e101-002-0

root@uml-switch:/exports/src/IN/pycnoporus/python3-inocybe-openswitch/inocybe_openswitch# cps_get_oid.py dell-base-if-cmn/if/interfaces/interface if/interfaces/interface/name=e101-002-0

===========

[2018-05-02 23:38] jeff-yin commented on #80
@Ragsboss does @madhu222 's suggestion work for you?

[2018-05-04 18:18] GarrickHe commented on #81
@dimbleby
I am able to reproduce the issue. i will update you when I have a fix.

thanks,
garrick

[2018-05-04 19:36] GarrickHe commented on #81
@dimbleby
I root-caused the problem. It's an issue with the cps_config_lag.py script. When you use 'cps_config_lag --add -lname ...' it actually will create a new lag interface which will overwrite the MAC you set with the default. I'll work on a fix but for a workaround you can use cps_set_oid to add member ports after you set the mac:

Below is after creating the LAG and setting the MAC address:

[2018-05-04 20:03] GarrickHe commented on #81
@dimbleby ,
just a quick update. the issue is with the 'cps_config_lag --add --lname ...' command that is used to add the memberport. Instead of modifying the existing lag it will actually create a new LAG interface so the MAC address you want will get overwritten with the default MAC. I'm working on to fix the issue. but if you need to add memberports after creating the LAG and setting the MAC, c

[2018-05-08 19:28] GarrickHe commented on #81
@dimbleby
I have a fix. I will push it soon after code-review.

Thanks,
Garrick

[2018-05-10 14:03] dimbleby commented on #65
Yes, I can reproduce this - thanks!  Happy to close this issue out.

[2018-05-15 22:31] atanu-mandal commented on #65
Closing this.

[2018-05-15 22:31] #65 closed

[2018-05-16 23:41] jeff-yin commented on #80
Closing the issue for now.

[2018-05-16 23:41] #80 closed

[2018-05-16 23:44] jeff-yin commented on #77
Same issue as https://github.com/open-switch/opx-cps/issues/48?

[2018-05-16 23:46] rakeshdatta commented on #82
Hi Anton,

Thanks for reaching out. I acknowledge this issue. I will get back to you with a resolution shortly.

Thanks,
Rakesh

[2018-05-17 07:52] james-jra commented on #77
@jeff-yin
I don't think this is a duplicate.

#48 refers to incorrect values for the `if/interface-state/interface/{admin-status, oper-status}`.

This issue (#77) refers to not updating the value of `if/interfaces/interface/enabled` when the VLAN is brought admin-up using `ip link set dev vlan1 up`.

[2018-05-21 18:28] rakeshdatta commented on #82
This fix is merged and would be available in the next release. Thanks!

[2018-05-21 18:28] #82 closed

[2018-05-30 22:02] atanu-mandal opened #83 "Packet with TTL=1 is not handled properly in S4248FB-ON"
In S4248FB-ON the packet with TTL=1 is not lifted to CPU for proper handling.

[2018-06-06 21:16] jeff-yin commented on #52
Will be fixed in 3.0.0 along with #48

[2018-06-06 21:16] jeff-yin commented on #48
Will be fixed in 3.0.0

[2018-06-15 06:59] kot-begemot-uk opened #84 "Object registration in python succeeds, but handlers are never invoked"
I am trying to register a handler in python for a new model.

The model augments if/interfaces/interface:

    augment "/if:interfaces/if:interface" {
        when "if:type = 'ianaift:l2vlan'";

It is added successfully to the models, everything is recompiled and cps.type() reports the correct information on it.

   {'name': 'dhcp-agent/if/interfaces/interface', 'embedded': 'True', 'attribute_type

[2018-06-28 16:38] james-jra opened #91 "Not able to remove registration added with cps_api_event_thread_reg"
**Feature request**

The Event Thread Utilities API allows an application to register a callback to be executed on a CPS event using the `cps_api_event_thread_reg` function.

However, it appears that there is no way to remove that registration without terminating the entire event thread with `cps_api_event_thread_shutdown`.
Therefore any registered callbacks must exist for the entire lifetime of t

[2018-06-29 20:09] GarrickHe commented on #52
Update - UT completed. Fix is in code-review.

[2018-06-29 20:10] GarrickHe commented on #48
Update - UT completed, fix is in code-review.

[2018-06-29 20:11] GarrickHe commented on #77
Update - I'm looking into this issue now.

[2018-06-29 21:32] jeff-yin commented on #52
Fixed by https://github.com/open-switch/opx-nas-interface/pull/34

[2018-06-29 21:32] #52 closed

[2018-06-29 21:32] jeff-yin commented on #48
Fixed by https://github.com/open-switch/opx-nas-interface/pull/34

[2018-06-29 21:32] #48 closed

[2018-07-03 21:48] atanu-mandal commented on #91
Hi James,
Currently there is no option to un-register a callback function from the event in dynamic fashion. Your analysis is correct. We have an internal enhancement request as well to provide the facility in future release.

I will update you when the feature is available.

Thanks,
-Atanu

[2018-07-06 20:01] GarrickHe commented on #81
Issue fixed as part of OPX3.0-dev1.

[2018-07-06 20:02] #81 closed

[2018-07-10 23:31] atanu-mandal commented on #83
The fix has been made and verified internally. We will update the package for 2.3.1 soon.

[2018-07-20 23:43] hpersh opened #94 "Development packages do not point to correct binary packages"
A development package needs an explicit dependency, i.e. development package xxx-dev version A must depend on xxx1 version A.  Right now, there is no explicit version dependency for the dev to the binary package, so if one installs an older dev package, one will get the latest binary package, which more than likely will not match.

This is for all packages, in all repos.

[2018-07-31 13:36] danielginsburg opened #95 "opx-base-model fails to build due to problem in yin_utils.py"
When doing a clean build opx-base-model fails:

...
Traceback (most recent call last):
  File "/usr/lib/opx/py/yin_parser.py", line 36, in <module>
    with yin_model.CPSYangModel(d) as yf:
  File "/usr/lib/opx/py/yin_model.py", line 127, in __init__
    self.model = self.context['loader'].load(self.filename)
  File "/usr/lib/opx/py/yin_model.py", line 94, in load
    return self.get_parsed_yin(ya

[2018-08-01 21:35] jeff-yin commented on #95
Should be fixed by most recent commit in opx-cps.

[2018-08-01 21:35] #95 closed

[2018-08-01 22:05] #83 closed

[2018-08-01 22:14] jeff-yin commented on #53
This issue should be fixed in the latest release of OPX. Closing for now. Reopen if you do see it again.

[2018-08-01 22:14] #53 closed

[2018-08-01 22:17] jeff-yin commented on #64
This type of scenario is supported in OPX today. As another example, OPX will trap_to_cpu routed packets with TTL=1 in order to send back ICMP error messages. Closing for now unless @atanu-mandal or @mcallisterjp feel otherwise.

[2018-08-01 22:17] #64 closed

[2018-08-01 22:57] rakeshdatta commented on #73
Sure, taking a look at it @kot-begemot-uk

Thanks.

[2018-08-02 00:42] theucke commented on #94
Correct. Need `${binary:Version}` everywhere.

[2018-09-10 08:32] kot-begemot-uk commented on #84
I think this needs reopening.
While all examples are correct and the callback gets invoked, that does not actually perform an augment.
They are invoked _ONLY_ if the node test/if/interfaces/interface is accessed directly.
If you access the augmented node (should be if/interfaces/interface, but for whatever reason it's dhcp-agent/if/interfaces/interface/dhcp-server), the callback is not invoked. So

[2018-09-10 08:37] kot-begemot-uk opened #97 "get cps python callback never returns any data"
The root cause seems to be that the get callback in the cps core uses the same validation as the transaction code.

 _read_function in cps_api_python_operation invokes cb->execute(get) which in turn feeds the result to dict_to_cps_obj(o) from cps_api_python_utils.cpp

That has the following check:
[code]
Unless I am mistaken, this check always results in NULL for a read operation as there is no "o

[2018-09-10 09:46] kot-begemot-uk commented on #97
Working off incorrect example which from somewhere used TRUE instead of True in return code.

I still do not understand how it works though - according to the C++ code it should not.

[2018-09-10 16:37] jeff-yin commented on #84
@rakeshdatta will follow up

[2018-09-26 19:30] rakeshdatta commented on #84
Hi Anton,

As discussed offline,  closing the issue, as you could work it out with the existing code.

For your concern regarding missing documentation on 'how to use callbacks', if you don’t find it in the OPX wiki, can you please open a documentation issue and send it across.
I will take care of it.

P.S. When you’re opening the OPX Github issue, these guidelines: https://github.com/open-switch/

[2018-09-26 19:31] rakeshdatta commented on #97
Hi Anton,

As discussed offline, closing the issue, as you could work it out with the existing code.

For your concern regarding missing documentation on 'how to use callbacks', if you don’t find it in the OPX wiki, can you please open a documentation issue and send it across.
I will take care of it.

P.S. When you’re opening the OPX Github issue, these guidelines: https://github.com/open-switch/o

[2018-09-26 19:31] #97 closed

[2018-09-26 19:48] hpersh opened #98 "opx-cps service must be of type "Notify""
The systemd service definition file for the opx-cps service must specify that the service is of type "Notify".

[2018-09-26 20:32] rakeshdatta commented on #71
@kot-begemot-uk Hi Anton, I am not sure about the problem yet.

Would be helpful, if you could please provide all the data as per the given guidelines:
https://github.com/open-switch/opx-docs/wiki/Report-bugs

[2018-09-26 20:34] rakeshdatta commented on #69
@kot-begemot-uk  Hi Anton,
can you please help me with the information mentioned in: https://github.com/open-switch/opx-docs/wiki/Report-bugs

[2018-09-26 20:37] rakeshdatta commented on #70
@kot-begemot-uk Hi Anton, I understand your concern.
For me to be able to present the case better, can you please help me with the information asked in https://github.com/open-switch/opx-docs/wiki/Report-bugs

[2018-09-26 20:43] rakeshdatta commented on #72
@kot-begemot-uk I understand you are asking to keep the yang file name and the model name (what we provide as prefix) to be the same. Plz correct me.

I am not sure why is this important. Can you please share the relevant information of this issue in terms of the bug template provided here: https://github.com/open-switch/opx-docs/wiki/Report-bugs

[2018-09-27 06:36] kot-begemot-uk commented on #69
RFC8040 and the netconf RFCs specify that ENUMs are represented by their named values and boolean is represnted by true and false. The yang RFCs (both yang 1.0 and 1.1) are also fairly specific that the numeric values for enum are purely "implementer's business" and should not be used for interchange.
CPS violates every single one of these.

[2018-09-27 06:40] kot-begemot-uk commented on #69
Example violations:
base-if-phy/if/interfaces/interface/npu-id = 0
dell-base-if-cmn/if/interfaces/interface/if-index = 5
dell-if/if/interfaces/interface/phys-address = 90:b1:1c:f4:ef:a0
dell-if/if/interfaces/interface/speed = 8 <<<VIOLATES RFCs
if/interfaces/interface/enabled = 0<<<VIOLATES RFCs
base-if-phy/if/interfaces/interface/learn-mode = 3<<<VIOLATES RFCs
if/interfaces/interface/name = e101-

[2018-09-27 06:45] kot-begemot-uk commented on #71
cps_get_oid.py if/interfaces/interface 'if/interfaces/interface/name=e101-001-0' should return _EXACTLY_ what is presently being returned by cps_get_oid.py dell-base-if-cmn/if/interfaces/interface 'if/interfaces/interface/name=e101-001-0'
Instead it returns nothing.
This violates the concept of augmentation as described in RFC6020, RFC7950 (yang) and is incompatible with well established represent

[2018-09-27 06:51] kot-begemot-uk commented on #70
cps_get_oid.py if/interfaces should produce result.

Specifically, it should return the enveloping container and the full list should be presently obtainable under cps_get_oid.py if/interfaces/interface

Due to CPS yang-data data bug #71 that is presently erroneously returned at cps_get_oid.py dell-base-if-cmn/if/interfaces

That does not, however change the overall issue - it should be possible t

[2018-09-27 07:06] kot-begemot-uk commented on #72
Nope, you did not understand me correctly. The file name has nothing to do with this.

The YANG RFCs and RFCs governing interoperable YANG DATA implementations 8040, 6241, etc _ALWAYS_ qualify data elements with _MODULE_ name to differentiate between data elements brought by different modules. The PREFIX has only local significance and only for the purposes of assembling they yang model. Example -

[2018-09-27 07:19] kot-begemot-uk commented on #72
What is the problem you are reporting - Fundamental design fault
Do you have a use case including examples? - yes, stated
Is there a blocker? (Y/N), and include the reasoning if it is a blocker. - it is a blocker for implementing restconf, netconf or any other interop natively without presenting a "hacked" model to the consumer
OPX version that you are using (latest or specific version) - all up t

[2018-10-09 11:47] nmmneves opened #100 "Statistics values always return / show 0"
Besides the timestamp, every value i try to retrieve regarding statistics returns 0 even in cases
where i utilize other tools that clearly show that values change.

I also tried just checking values via the python commands detailed in the Readme file and they also do not work.

This is how i do it (tried with different OPX versions):
[code]

[2018-10-13 14:45] jimmymagemtek opened #101 "How to apply low-level switch configuration via CPS"
Hi
I need to do very low level configuration to switch directly, like changing next hop table, routing table, ACL or doing VLAN management, bypassing high level abstraction provided by OPX stack - CPS.

In other words, the semantics of my configuration is closer to SAI.
Can I do it via CPS programming ?

Is there any sample code for reference ?

Any suggestion is appreciated.

Jimmy

[2018-10-14 04:19] jimmymagemtek opened #102 "Can't generate opx cps document"
Hi
I tried to get the cps document according to the web site:

API documentation
The CPS API is documented through Doxygen. To generate CPS Doxygen content, at the top level of your source directory (one level underneath opx-cps), run the opx-cps/doc/cps_gen_doc.sh command.
=================================================================================

but got the following error:

root@debian:

[2018-10-15 03:20] jimmymagemtek opened #103 "C SDK example"
Hi
Could you provide a C SDK for us to build C applications on CPS ?
Thanks.

Jimmy

[2018-10-15 17:15] jeff-yin commented on #102
This is likely due to a merge/sync issue. The `cps-api` directory in OPX should just be `cps`.

[2018-10-15 20:22] jeff-yin commented on #103
Hi @jimmymagemtek , can I ask what you're looking for specifically? Like, anything beyond the current CPS API in `opx-cps` and the YANG objects defined in `opx-base-model`?
Thanks!

[2018-10-16 03:31] jimmymagemtek commented on #103
Hi Jeff,
I suppose that any applications are using opx-cps API.
I need to develop application using C, for the good of the integration with other applications, like OvS.

According to the illustration on the web, applications could be written in Python, C or C++.
There are C applications examples inside "docs" folder, but I don't know which libraries to link.
That's why I need a C SDK, if possible

[2018-10-19 22:44] jeff-yin commented on #103
@jimmymagemtek have you checked out the developer's guide in the OPX documentation? http://archive.openswitch.net/docs/3.0.0/openswitch_opx_300_dev_guide.pdf

[2018-10-23 02:33] jimmymagemtek commented on #103
Hi Jeff,
Yes, I do see C examples inside this document, while it didn't mention how to work on C.
Please advise. Thanks.

Jimmy

[2018-10-23 23:21] rakeshdatta commented on #102
@jimmymagemtek  I guess the documentation did confuse you.
You should run it in the directory where opx-cps repository exists.

Plz try it and let me know.

e.g.

[code]

[2018-10-24 10:56] jimmymagemtek commented on #102
Hi Jeff,
Thanks for the information, but I got the same result as below,

root@debian:/home/jimmy/opx/opx-cps# ./doc/cps_gen_doc.sh
Cannot find cps_api directory
root@debian:/home/jimmy/opx/opx-cps# cd ..
root@debian:/home/jimmy/opx# cd ..
root@debian:/home/jimmy# find -name cps_api
root@debian:/home/jimmy#

Where should I acquire the "cps_api" directory ?
Thanks again.
Jimmy

[2018-10-24 19:16] rakeshdatta commented on #100
Hi @nmmneves

It works for me. Please check my output below:

[code]

Please make sure that your interface is up. Also, you can use 'opx-ethtool -S <interface name>' to ensure that statistics are displayed correctly. If both of these conditions satisfy, then above code should work. Plz let me know if you have any further queries.

Thanks,
Rakesh.

[2018-10-24 19:20] rakeshdatta commented on #102
@jimmymagemtek

As I replied earlier, you need to execute it 'at the top level of your source directory'. i.e The directory where your opx-cps directory resides in.

In your case please run the command inside: '/home/jimmy/opx/'.

It is not looking for cps-api directory. It is just a error print, where you should read 'cps-api' as 'opx-cps'.

[2018-10-24 23:22] #76 closed

[2018-10-24 23:56] jeff-yin commented on #103
@atanu-mandal @theucke do you guys know if we provide any guidance on how to develop a C application using CPS from scratch? We provide application examples in the developer guides, but I haven't found any guidance about configuring Makefiles, files to `#include` and what not.

[2018-10-25 03:33] jimmymagemtek commented on #102
Hi Jeff,
Thanks. I see the html files under opx/workspace.

Jimmy

[2018-10-25 03:33] #102 closed

[2018-10-25 09:31] jimmymagemtek opened #104 "an example (CPS application )of configuring the MAC address forwarding database"
Hi
The web claims that there is an example (no matter it is C or Python):

MAC address forwarding database (FDB)
The OPX software provides a CPS API/data model for configuring and managing the MAC forwarding database using the CPS API. See CPS application templates for an example of how to access and configure the MAC address forwarding database.
(https://github.com/open-switch/opx-docs/wiki/Layer

[2018-10-25 18:12] atanu-mandal commented on #103
Hi @jimmymagemtek , I believe you would want to build your application as a binary and are looking for the procedure to do that.

Essentially OPX uses standard automake infra.

You can create a target for you application binary using "bin_PROGRAMS" and add the corresponding sources/dependent libraries/flags,etc using that target.
For example, please refer the code at https://github.com/open-switch

[2018-10-26 06:47] jimmymagemtek commented on #103
Hi @atanu-mandal ,
Got it. Thanks.

Jimmy

[2018-10-26 06:47] #103 closed

[2018-10-28 15:16] nmmneves commented on #100
Hi @rakeshdatta

I tried the piece of code you just gave me but did not work also.
I am sure that the interface is up but the command 'opx-ethtool -S e101-001-0' ( where e101-001-0 is the interface that is up) returns :

Interface not valid :e101-001-0

I have no idea whats the problem that is happening.

[2018-10-29 16:55] jeff-yin commented on #100
@nmmneves -- these may be silly questions, but just to make sure...
(1) Is the interface fanned out? (e.g., 40G port fanned out to 4x 10G) (if so, then the first interface would be e101-001-1).
(2) Or is this being run too soon after reboot? The interface may not yet be installed because the NPU will take another minute or so to initialize.
(3) Have you tried running the command as root?
(4) Does

[2018-10-30 18:58] rakeshdatta commented on #100
@nmmneves  As Jeff asked earlier, please verify that the interface is indeed UP. It is not for some reason, and that's why opx-ethtool is not working on that interface. Please show us the 'ifconfig e101-001-1' output along with other details that Jeff asked in the previous post.

[2018-10-31 12:55] nmmneves commented on #100
I think i checked everything that Jeff suggested.
In OPX 2.1.0 i get the following:

[code]
 and
[code]
in OPX 3.0
[code]
and  sudo opx-ethtool -S return invalid interface.

[2018-11-02 11:48] navalknishad commented on #78
@dj-s-- Where i suppose to enter the following lines
up sudo cps_config_vlan.py --add --id 1011 --vlantype 1 --port e101-001-0,e101-002-0
post-up sudo /bin/ip link set dev br1011 up

[2018-11-02 16:08] GarrickHe commented on #78
@navalknishad
In `/etc/network/interfaces`

[2018-11-03 09:32] navalknishad commented on #78
@GarrickHe
I have entered it the same file but its not working, When i reboot the Switch i am unable to Ping...

[2018-11-03 16:04] madhu222 commented on #78
@navalknishad  If you are configuring IP address on the bridge. Below should be your configurations.
[code]

[2018-11-05 21:20] rakeshdatta commented on #100
Hi @nmmneves,

So it is pretty clear that the primary problem is that the interface is not coming up.
Also, it is not able to fetch the data from NPU.
Let's fix that first.

Can you please provide the below info:
1) Which platform are you using?
2) What is the remote end of the connectivity through the given interface?
3) What kind of interface is it?
4) Please share the below outputs at both the

[2018-11-12 19:11] rakeshdatta commented on #100
Hi @nmmneves
Plz share the information asked, for us to be able to help you.

Thanks,
Rakesh Datta.

[2018-11-19 21:07] rakeshdatta commented on #100
Hi @nmmneves
Seems like either the issue is fixed or it's not in your priority list for now.
Therefore, am closing it. In case you do face the issue further, please let us know the information asked above and we can take a look at it again.

Thanks,
Rakesh

[2018-11-19 21:07] #100 closed

[2019-01-17 00:45] jeff-yin commented on #104
There should now be Python-based examples here:
https://github.com/open-switch/opx-tools/blob/master/bin/opx-config-mac
And here:
https://github.com/open-switch/opx-tools/blob/master/bin/opx-show-mac

I believe this should resolve the question, but we still need to update the Layer-2 wiki page.

[2019-02-26 19:30] kmarisetty opened #111 "CPS Get OID Call On S4000 Platform Running Out Of Memory Before Listing 16K Routes"
On a **S4048** platform with OPX Version **3.1.0**, we execute the following command:
"**cps_get_oid.py base-route/obj/entry base-route/obj/entry/af=2 | grep   -E "78{1}[64-66]{1}" \| wc -l**"

This command causes a "out of memory error" and never gets to list details for each of the 16K routes in the CPS table. Below are the logs from the S4048 platform regarding this issue:

root@TR1:~# cps_get_

[2019-02-26 23:41] GarrickHe commented on #111
@kmarisetty ,

Can you sure your system's configuration and also the output for this command:
`free -h`

thanks,
Garrick

[2019-02-28 18:16] GarrickHe commented on #111
Update - Got testbed info from Ketan. Investigating...

[2019-04-24 19:18] GarrickHe commented on #111
The s4048 only has 2GB of ram and is running out of memory due to the way cps_get_oid.py works. I provided a workaround for this issue:

[code]

Until we enable swap-space or ZRAM on OPX.

[2019-04-24 19:18] #111 closed

[2019-04-24 19:23] GarrickHe opened #112 "Improve cps_get_oid.py script"
Improve this script so we don't run into a memory issue. Currently we pack/format all output information into memory before printing it out. This is very inefficient and won't work for large outputs. This improvement will stream the output instead of packing it into memory.

[2019-09-27 13:24] m8522s opened #114 "Simple ACL fails"
I'm using the example ACL entry `icmp-output` from `/usr/bin/acl-config.yaml` to block incoming ICMP traffic on interface e101-011-0:

[code]

When I activate the new ACL with `acl-loader /usr/bin/acl-config.yaml` it confirms *True*.
The ACL has no effect and the full error message from the journal is:

[code]

Running OPX 3.2.0 on a Dell S3048-ON.
Is this a bug or am I doing something wrong? Than

[2020-03-06 14:20] #114 closed, assigned to gunasekaran-t